{% load staticfiles %}
<!doctype html>
<html>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input 
    class="form-control mr-sm-2" 
    type="search" placeholder="Name" 
    aria-label="Name"
    name = 'name'
    value = "">
    <input 
    class="form-control mr-sm-2" 
    type="search" placeholder="Gender" 
    aria-label="Gender"
    name = 'gender'
    value = "">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

{% if results %}
      <div class="txtCentrado margenSup20 grisDC">
          <h3>We found {{ count }} result {{ count|pluralize }} for your search </h3>
           </div>
               <div class="search results">
                   {% for mytuple in results %}
					    <div class="images">
					        <img src="{% static "img/person_icon.png" %}"hspace=5">{{ mytuple.0 }} 
							<img src="{% static "img/email_icon.png" %}"hspace="5">{{ mytuple.1 }}
							<img src="{% static "img/gender_icon.png" %}"hspace="5">{{ mytuple.2 }}
							<img src="{% static "img/address_icon.png" %}"hspace="5">{{ mytuple.3 }}
						</div>
						<p></p>
				   {% endfor %}
				</div>
{%elif not search_term %}
    <h3>Insert your search here.</h3>
{%elif not results %}
    <p>No results found.</p>
{% endif %}
</html>



